.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  &__checkbox {
    display: flex;
    gap: 8px;
  }

  input {
    border-radius: 10px;
    border: 0;
    padding: 5px 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }

  input:focus-visible {
    outline: none;
  }
}

@media (max-width: 600px) {
  .wrapper {
    gap: 10px;
    &__checkbox {
      display: flex;
      gap: 3px;
      font-size: 14px;
    }
  }
}
