.wrapper {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 10px;
  padding: 20px 20px;
  min-width: 420px;

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }
  &__title {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: gray;
    opacity: 0.9;
  }

  &__infoBlock {
    display: flex;
    gap: 10px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__info_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
  }

  &__info_title {
    color: black;
    opacity: 0.9;
    font-size: 18px;
  }
  &__info_value {
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .wrapper {
    min-width: 280px;
    font-size: 12px;
    font-weight: 400;

    &__info_title {
      font-size: 14px;
    }
  }
}
