.wrapper {
  display: flex;
  background-color: beige;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;

  &__main {
    display: flex;
    width: 100%;
    gap: 50px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
  }
}
